@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sfs-background: 0 0% 100%;
    --sfs-foreground: 222.2 47.4% 11.2%;
 
    --sfs-muted: 210 40% 96.1%;
    --sfs-muted-foreground: 215.4 16.3% 46.9%;
 
    --sfs-popover: 0 0% 100%;
    --sfs-popover-foreground: 222.2 47.4% 11.2%;
 
    --sfs-border: 214.3 31.8% 91.4%;
    --sfs-input: 214.3 31.8% 91.4%;
 
    --sfs-card: 0 0% 100%;
    --sfs-card-foreground: 222.2 47.4% 11.2%;
 
    /* --sfs-primary: 222.2 47.4% 11.2%; */
    /* --sfs-primary-foreground: 210 40% 98%; */
    --sfs-primary: 1.8, 63.8%, 20.6%;
    --sfs-primary-foreground: 210 40% 98%;
 
    --sfs-secondary: 210 40% 96.1%;
    --sfs-secondary-foreground: 222.2 47.4% 11.2%;
 
    --sfs-accent: 210 40% 96.1%;
    --sfs-accent-foreground: 222.2 47.4% 11.2%;
 
    --sfs-destructive: 0 100% 50%;
    --sfs-destructive-foreground: 210 40% 98%;
 
    --sfs-ring: 215 20.2% 65.1%;
 
    --sfs-radius: 0.5rem;
  }
 
  .dark {
    --sfs-background: 224 71% 4%;
    --sfs-foreground: 213 31% 91%;
 
    --sfs-muted: 223 47% 11%;
    --sfs-muted-foreground: 215.4 16.3% 56.9%;
 
    --sfs-accent: 216 34% 17%;
    --sfs-accent-foreground: 210 40% 98%;
 
    --sfs-popover: 224 71% 4%;
    --sfs-popover-foreground: 215 20.2% 65.1%;
 
    --sfs-border: 216 34% 17%;
    --sfs-input: 216 34% 17%;
 
    --sfs-card: 224 71% 4%;
    --sfs-card-foreground: 213 31% 91%;
 
    --sfs-primary: 210 40% 98%;
    --sfs-primary-foreground: 222.2 47.4% 1.2%;
 
    --sfs-secondary: 222.2 47.4% 11.2%;
    --sfs-secondary-foreground: 210 40% 98%;
 
    --sfs-destructive: 0 63% 31%;
    --sfs-destructive-foreground: 210 40% 98%;
 
    --sfs-ring: 216 34% 17%;
 
    --sfs-radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply sfs-border-border;
  }
  body {
    @apply sfs-bg-background sfs-text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
